<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>ではなくajaxを使おう.あと書き方がRailsぽい</h1>
    <p>Welcome to <%= title %>へようこそ</p>
  </body>
</html>
